
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: "Ojuju";
    max-width: 100%;
}



.header{
    display: flex;
    position: relative;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}

.logo{
    color: #303030;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    margin-top: 20px;
    padding: 15px;
    color: #f8f7f7;
    display: block;
    font-weight: 600;
    transition: 0.5s;
    
}

li :hover{
    background: #444141;
    border-radius: 50px;
    transition: 0.5s;
}

#menu{
    display: none;
}

.menu-icono{
    height: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.bg{
    position: absolute;
    width: 700px;
    z-index: 1;
    right: 0;
    box-shadow: 0 0 80px  rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.esp{
    position: flex;
    margin-top: 140px;
    margin-left: 50px;
    width: 500px;
    z-index: -1;
    border-radius: 100%;
    box-shadow: 0 0 50px  rgba(0, 0, 0, 0.5);
}

.nosotros-txt{
   margin-top: 150px;
}

.nosotros-txt h2{
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;
}

.nosotros-txt p{
    font-size: 16px;
    color: #303030;
    margin-bottom: 35px;
    text-align: center;
}

.mision, .vision, .calidad{
    font-size: 25px;
    line-height: 45px;
    font-weight: 600;
    margin-bottom: -20px;
    
}

.vision, .calidad{
    text-align: center;
}

#somos{
    padding-top: 50px;
}
#somos1{
    text-align: center;
}

.products{
    padding: 80px 0;
    text-align: center;
}

.products h2{
    font-size: 40px;
    color: #303030;
    margin-bottom: 30px;
}

.products p{
    font-size: 18px;
    color: #545454;
}

.products .p1{
    font-size: 18px;
    color: #545454;
    padding-bottom: 30px;
}

.product-info{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 3rem;
}

.product{
    padding-bottom: 35px;
    text-align: center;
    box-shadow: 0 0 20px  rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.product img{
    width: 100%;
    height: 120px;
    border-radius: 25px 25px 0 0;
}

.product h3{
    font-size: 20px;
    color: #303030;
    margin-top: 15px; 
}

.product p{
    font-size: 16px;
    padding: 30px;
    color: #545454;
    margin: 0;
}

.product span{
    background: #545454;
    padding: 0 20px 0 60px;
    color: #ffffff;
    border-radius: 18px;
}

hr{
    border: 1px solid #303030;
}

.info-global #local{
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;
}

.info-global h2{
    font-size: 40px;
    line-height: 70px;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;
}

.info-global p{
    line-height: 30px;
    margin-bottom: 25px;
    text-align: center;
}

.info-global h3{
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.info-global .img-locales-1{
    max-width: 100%;
    margin: 0 auto;
}

.redes-container h2{
    font-size: 30px;
    line-height: 70px;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
}

.redes-container .socials{
    display: flex;
    align-content: center; 
}

.redes-container .socials .social-1{
    text-align: center;
    align-content: center;
}

.info-1 .title-3{
    text-align: center;
}

.info-1 .info-p{
    text-align: center;
    line-height: 30px;
}

.info-1 .title-4{
    padding-top: 20px;
    text-align: right;
}

.mapa{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
}

.redes-container h2{
    padding-bottom: -90px;
}

.socials{
    display: inline-block;
    justify-content: center;
    margin-top: -40px;
}

.social-1{
    padding-right: 20px;
}

.p-footer{
text-align: center;

}

@media(max-width: 750px){
    .esp{
        display: none;
    }
    .bg{
        top:30px;
    }
}


@media(max-width: 713px){

    .esp{
        display: none;
    }

    .bg{
        height: 100%;
        z-index: -1;
        opacity: 0.8;
        transition: all 0.3s;
        
    }

    .header-info{
        flex-direction: column;
        padding: 30px;
    }

    .header-txt{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left:0;
        right: 0;
        background-color: #4d4d4d;
        display: none;
        opacity: 0.8;
    }

    .logo{
        font-size: 50px;
        color: #ffffff;
        padding-top: 50px;
        padding-left: 30px;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    .menu .navbar ul li a{
        color: #ffffff;
    }

    .menu .navbar ul li a:hover{
        color: #fbf4f4;
        background: #272424;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .mision{
        padding-top: 360px;
    }

    #somos{
        font-size: 60px;
        padding-top: 120px;
        transition: all 0.4;
    }

    #somos1{
        text-align: center;
    }

    .vision, .calidad{
        text-align: center;
    }
    

    .products{
        padding: 30px;
        text-align: center;
    }

    .products h2{
        font-size: 40px;
    }

    .products p{
        padding: 0;
        margin-bottom: 40px;
    }

    .product-info {
        grid-template-columns: repeat(2, 1fr);
    }

    .product p{
        padding: 30px
    }

    .footer{
        padding: 30px;
    }

}


@media(max-width: 550px){
    .menu{
        padding:30px
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left:0;
        right: 0;
        background-color: #4d4d4d;
        display: none;
        opacity: 0.8;
    }

    .logo{
        font-size: 45px;
        padding-left: 25px;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    .menu .navbar ul li a{
        color: #ffffff;
    }

    .menu .navbar ul li a:hover{
        color: #fbf4f4;
        background: #272424;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }


    #somos{
        display: none;
    }

    #somos1{
        text-align: center;
    }

    .vision, .calidad{
        text-align: center;
    }

    .mision{
        padding-top: 600px;
    }
    
    .bg{
        width: 500px;
        opacity: 1;
        transition: all 0.3s;
    }

    .esp{
        display: none;
    }

    .header-info{
        flex-direction: column;
        padding: 30px;
    }

    .header-txt{
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .header h1{
        font-size: 46px;
        line-height: 50px;
    }

    .products{
        padding: 30px;
        text-align: center;
    }

    .products h2{
        font-size: 40px;
    }

    .products p{
        padding: 0;
        margin-bottom: 40px;
        display: none;
    }
    
    span{
        display: none;
    }
    .product-info {
        grid-template-columns: repeat(2, 1fr);
    }

    .product p{
        padding: 30px
    }

    .footer{
        padding: 30px;
    }

}